.container-home {
  background-color: yellow;
  width: 100vw;
}

.color-header {
  background-color: rgb(249, 249, 246);
}

.sidebar {
  width: 18%;
}

.btn-width {
  margin-bottom: 4px;
  width: 100%;
}

.color-products {
  background-color: aqua;
}

.teste {
  margin: 10px;
  width: 80vw;
}

.teste > h3 {
  text-align: center;
}

.card-width {
  width: 300px;
}

.card-body {
  background-color: black;
  margin-bottom: 10px;
}

.card-height {
  height: 450px;
}

.card-body-heigth {
  height: 100px;
}

.background-quantity {
  background-color: red;
  border-radius: 50%;
}

.btn-size {
  width: 50px;
}

.search-bar {
  margin: auto;
}

.btn-size-frete {
  width: 150px;
  background-color: rgb(72, 255, 0);
  border-radius: 20px;
  font-size: large;
  text-align: center;
  margin-left: 2px;
}
